@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
span.horizontal-list{
    font-family: 'Poppins', sans-serif;
    display: block;
    background-color: #6C00FF;
    padding: 0;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 100px;
}
span.horizontal-list img {
    margin-right: 40px;
}
body {
    background-color: #e4e4e4;
}
#map {
    padding-left: 10px;
    height: 850px; 
    width: 95%;
    border: 1px solid #0d6efd;
}
.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 624px 1fr;
    padding: 10px;
    /*border: 2px solid saddlebrown;*/
}

.wrapper_item {
    border: 1px solid #0d6efd;
    display: inline-flexbox;
}

.wrapper_item h3{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 700;
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 2px;
    letter-spacing: 0.050em;
}

.grupo-desplegable {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 10px;
}

.contenido {
    display: none;
    padding: 10px;
    font-weight: 500;
    border-bottom: none;
}

.contenido label input{
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}