@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    background-color: #e4e4e4;
    font-family: 'Poppins', sans-serif;
}

i{
    color: #0d6efd;
}
span.horizontal-list {
    z-index: 2;
    position: sticky;
    top: 0;
    display: block;
    background-color: #f8f9fa;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    font-size: 100;
    box-shadow: 0 1px 3px 0 rgba(255, 255, 0, 0.1), 0 1px 2px -1px rgb(255 255 0 / 0.1);
    
}

span.horizontal-list img {
    margin-right: 40px;
}

.nav {
    width: 300px;
}

.nav__link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 30px;
}

.nav__link--inside:hover {
    background-color: #e4e4e4;

}

.list {
    background-color: #e4e4e4;
    font-family: 'Exo 2', sans-serif;
    font-size: large;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0 16px 16px 0;
}

.list__item {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(180deg);
    transition: .9s;
}

.list__arrow {
    margin-left: auto;
    transition: transform .9s;
}

.list__show {
    padding-left: 10px;
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .9s;
    height: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}


#map {  
    z-index: 1;
    height: 850px; 
    width: 90%;
    /* border: 1px solid #0d6efd; */
}
.footer__style{
    display: flex;
    justify-content: space-between!important;
    background-color: #f8f9fa;
    bottom: 0;
}
/* .footer__style --style__div{

} */

.popUp {
    margin: 1rem;
    width: 300px;
    height: 500px;
    padding: .5rem 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 12px 32px 4px rgba(black, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.popUp img {
    width: 100%;
    height: 200px;
}


.popUpTitle {
    color: white;
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: 50px;
    transition: .2s;
    cursor: pointer;
}

.popUpDesc {
    text-align: center;
}
