@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
} 
body {
    background-color: #e4e4e4;
    font-family: 'Poppins', sans-serif;
}
i{
    color: #0d6efd;
}
span.horizontal-list {
    z-index: 2;
    position: sticky;
    top: 0;
    display: block;
    background-color: #f8f9fa;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    font-size: 20px;
    box-shadow: 0 1px 3px 0 rgba(255, 255, 0, 0.1), 0 1px 2px -1px rgb(255 255 0 / 0.1);  
}
span.horizontal-list img {
    margin-right: 7px;
}
span.horizontal-list h1{
    padding-top: 8px;
}
.nav {
    width: 300px;
}
.nav__link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 30px;
}

.nav__link--inside:hover {
    background-color: #e4e4e4;

}

.list{
    background-color: #e4e4e4;
    font-family: 'Exo 2', sans-serif;
    font-size: large;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0 16px 16px 0;
}

.list__item {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(180deg);
    transition: .9s;
}

.list__arrow {
    margin-left: auto;
    transition: transform .9s;
}

.list__show {
    padding-left: 10px;
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .9s;
    height: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}


#map {  
    z-index: 1;
    position: relative ;
    width: 100% ;
    border: 1px solid #0d6efd;
}
#map > *{
    display: block ;
    position: absolute ;
    top: 0 ;
    right: 0 ;
    bottom: 0 ;
    left: 0 ;
    margin: 0 ;
    padding: 0 ;
    height: 100% ;
    width: 100% ;
}


/* Estilo para el footer principal */
.footer__style {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    text-align: center;
}
  
/* Estilo para el texto en el footer */
.footer__style--text {
    font-size: 18px;
    margin-bottom: 10px;
}
  
/* Estilo para la imagen en el footer */
#INSIGNIA__LICEO {
    width: 35px;
    height: auto;
    margin-right: 10px;
}
  
/* Estilo para el párrafo de derechos de autor en el footer */
.footer__style--copyright p {
    font-size: 14px;
    margin: 0;
}
  
/* Estilo para la lista de redes sociales en el footer */
.footer__style--redes__sociales ul {
    list-style: none;
    padding: 0;
}
  
.footer__style--redes__sociales li {
    display: inline;
    margin-right: 10px;
}
  
/* Estilo para los iconos de redes sociales */
.footer__style--redes__sociales a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
  